/* style.css */
body {
  background: rgb(176, 176, 176);
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: white;
}

h3,
h4 {
  color: rgb(108, 63, 63);
}
p,
ul,
ol {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: rgb(45, 44, 44);
}
